@model IEnumerable<PokeJuego.Models.C_tbAtaqueEspecial>

@{
    ViewBag.Title = "Index";
}

<h2>Ataques Especiales</h2>

<p>
    @Html.ActionLink("Crear ataque especial", "Create")
</p>
<table class="table">
    <tr class="bg-primary">
        <th>
            <label>
                Nombre del ataque especial
            </label>
        </th>
        <th>
            <label>
                Daño del ataque
            </label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="bg-info">
        <td>
            @Html.DisplayFor(modelItem => item.strNombreAtaqueEsp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intDañoEsp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intAtaqueEsp }) |
            @Html.ActionLink("Details", "Details", new { id=item.intAtaqueEsp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intAtaqueEsp })
        </td>
    </tr>
}

</table>
