@model PokeJuego.Models.C_tbAtaques

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_tbAtaques</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strNombreAtaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNombreAtaque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intDaño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intDaño)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.intAtaque }) |
    @Html.ActionLink("Back to List", "Index")
</p>
